:root {
	/* the following css properties are present in order for the text completion during development to function */
	/* they are overwritten by the THEME values in 'themePresets.ts' */
	--theme-colors-color: #004d40; /* Primary text color */
	--theme-colors-inverse_color: #e0f2f1; /* Text color on non_normal background */
	--theme-colors-bg_app_bar: #004d40; /* Color of header and footer */
	--theme-colors-bg_color: #e0f2f1; /* Background color */
	--theme-colors-bg_panel: #e0f2f1; /* Dialog background color */
	--theme-colors-divider: #004d40; /* Dialog Title background color */
	--theme-colors-primary: #004d40; /* Dialog primary button text color */
	--theme-colors-list_divider: #004d40; /* Color of lines between columns in the error list */
	--theme-colors-slider: #004d40; /* Color of lines between views */
	--theme-colors-accent: #DE6B48; /* Color to get attention to an element */
	--theme-colors-primary_button_text: black; /* Color of primary buttons in dialogs */
	--theme-colors-secondary_button_text: grey; /* Color of non-primary buttons in dialogs */
	--theme-colors-text_app_bar: 'white'; /* Color of header and footer text */

	/* Projectional Editor "globals" */
	--theme-colors-bg_editor: white; /* The background color of the editor */
	--theme-colors-text_editor: #004d40; /* The color of the text, unless set otherwise by the projection */
	--theme-fonts-size_editor: 14px; /* The font size of the text, unless set otherwise by the projection */
	--theme-fonts-style_editor: italic; /* The font size of the text, unless set otherwise by the projection */
	--theme-fonts-weight_editor: normal; /* The font size of the text, unless set otherwise by the projection */
	--theme-fonts-family_editor: 'Arial'; /* The font size of the text, unless set otherwise by the projection */
	/* TextBox */
	--theme-colors-bg_empty_before_text_box: #f4f4f4;
	--theme-colors-bg_text_box: white;
	--theme-colors-color_text_box: #004d40;
	--theme-colors-color_empty_before_text_box: #004d40;
	/* AliasBox && SelectBox */
	--theme-colors-bg_empty_before_alias_box: #f4f4f4;
	--theme-colors-bg_alias_box: white;
	--theme-colors-color_alias_box: #004d40;
	/* Dropdown */
	--theme-colors-bg_dropdown_component: #f4f4f4;
	--theme-colors-border_dropdown_component: #004d40;
	--theme-colors-color_dropdownitem_component: #004d40;
	--theme-colors-border_dropdownitem_component: #004d40;
	/* Selectable */
	--theme-colors-bg_selected: rgba(211, 227, 253, 255);
	--theme-colors-border_selected: #004d40;
	/* Freon sizes */
	--pi-header-height: 36px;
	--pi-footer-height: 16px;
	--pi-menu-height: 24px;
	--pi-statusbar-height: 24px;

	/* Freon font sizes */
	--pi-header-font-size: 16px;
	--pi-button-font-size: 12px;
	--pi-error-font-size: 14px;
	--pi-menuitem-font-size: 14px;

	/* other colors */
	--pi-selected-background-color: rgba(211, 227, 253, 255);
	--pi-selected-color: red; /* to be done */
	--pi-popup-border: none;
	--pi-popup-background: #fff;
	--pi-popup-box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5);
	--pi-list-background-color: white;

	/* fonts, etc */
	--font-family: Roboto, Helvetica, sans-serif;
	--heading-font-family: var(--font-family);
	--button-font-family: var(--font-family);
	--code-font-family: 'Roboto Mono', Menlo, Consolas, monospace;

	/* added for documentation to theme variables from Freon */
	--theme-colors-button_color: white;
	--theme-colors-button_bg_color: rgba(0, 0, 139, 1); /* #004d40 with opacity 1 */
	--theme-colors-button_active: rgba(0, 0, 139, 0.7); /* #004d40 with opacity .7 */
	--theme-colors-button_hover: rgba(0, 0, 139, 0.8); /* #004d40 with opacity .8 */
	--theme-colors-ripple_color: #c199f9;
	--theme-colors-tooltip_color: white;
	--theme-colors-tooltip_background: red;
	--theme-colors-note_background: #c199f93c;
	--theme-colors-figure_background: cornsilk;
	--theme-colors-table_background: cornsilk;
	--theme-colors-table_heading: #8ed4c6;
	--theme-colors-link: #DE6B48;
	--theme-colors-active: 'white'; /* active leaf/branch in nav tree */
	--font-mono: 'Fira Mono', monospace;
	--column-width: 62rem;
	--max-image-width: 54rem;
	--column-margin-top: 1rem;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--theme-colors-color);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

blockquote {
	margin: 0;
	padding: 2px 8px;
	background: var(--theme-colors-block_quote_background);
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

img {
	max-width: var(--max-image-width);
}

table {
	background: var(--theme-colors-table_background);
	margin: auto;
	border: 1px var(--theme-colors-divider) solid;
	border-collapse: collapse;
	width: 90%;
}

th {
	padding: 10px;
	text-align: left;
	border: 1px var(--theme-colors-divider) solid;
	background-color: var(--theme-colors-table_heading);
}

td {
	padding: 10px;
	text-align: left;
	border: 1px var(--theme-colors-divider) solid;
}

a {
	color: var(--theme-colors-link);
	text-decoration: none;
}

a:visited {
	color: var(--theme-colors-link);
	text-decoration: none;
}

/* Styles for the landing page */
.landing a {
	color: var(--theme-colors-accent);
}
.landing img {
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
}
.landing-freon-name {
	color: var(--theme-colors-accent);
}
/* Styles for landing-top section */
.landing-top {
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;

}
.landing-name-intro {
	display: inline-block;
	/*border: 1px solid black;*/
	/*margin: 1rem;*/
	/*padding: 2rem 2rem;*/
	text-align: left;
	box-shadow: 3px 3px 3px lightgrey;
	background-color: var(--theme-colors-block_quote_background);
	border-radius: 5px;
	padding-left: 1rem;
	padding-right: 1rem;
	white-space:nowrap;
}
.landing-name-intro-child {
	display: inline-block;
	padding: 0.5rem 0.5rem;
	vertical-align: middle;
}
.landing-image-holder {
	display: inline-block;
}
.landing-audio-control {
	width: 100px;
}
.landing-started {
	font-size: 2em;
	font-weight: bolder;
	text-align: right;
	display: inline-block;
	/*border: 1px solid red;*/
	padding: 0.5rem 0.5rem;
	vertical-align: middle;
	margin-left: 2rem;
}
.landing-arrow {
	color: var(--theme-colors-accent);
}
/* Styles for hero section */
.landing-hero {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}
.landing-hero-left {
	flex-shrink: 100;
	padding: 1rem;
	max-width: 35%; /* media */
}
.landing-hero-right {
	position: relative;
	text-align: right;
	padding: 1rem;
}
/* Styles for testimonial section */
.landing-card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
	max-width: 80%;
	margin: auto;
	background-color: var(--theme-colors-block_quote_background);
}
.landing-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* On mouse-over, add a deeper shadow */
}
.landing-testimonial {
	padding: 2px 16px; /* Add some padding inside the card container */
}
.landing-testimonial-top {
	justify-content: space-between;
	align-content: center;
	display: flex;
	flex-direction: row;
}
.landing-testimonial-child {
	display: inline-block;
	/*border: 1px solid red;*/
	padding: 0.5rem 0.5rem;
	text-align: right;
}
/* Styles for button grid */
.landing-enter-buttons-grid {
	display: inline-grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	column-gap: 50px;
	row-gap: 50px;
	padding: 2rem;
}
.landing-enter-button {
	background-color: var(--theme-colors-bg_app_bar);
	color: var(--theme-colors-inverse_color);
	text-align: left;
	font-size: 1.1rem;
	padding-left: 10px;
	padding-right: 10px;
}
/* end styles for landing page */
