/* Small devices (portrait tablets and phones, 768px and down) */
@media only screen and (max-width: 768px) {
    :root {
        font-size: 0.8rem;
    }
    .small-screen {
        display: inline-block;
    }
    .large-screen {
        display: none;
    }
    /* Styles for the app bar that are different for different screen sizes */
    .app-bar-small {
        display: flex;
        align-items: center;
        padding: 0 4px 0 6px;
        flex: 1;
    }
    .app-bar-large {
        display: none;
    }
    /* end styles for the app bar */

    /* Styles for the landing page that are different for different screen sizes */
    /* Styles for landing-top section */
    .landing-intro {
        white-space: wrap;
    }
    .landing-intro-child {
        padding: 0.2rem 0.2rem;
    }
    .landing-intro {
        margin-right: 0.5rem;
    }
    .landing-arrow {
        color: var(--theme-colors-accent);
    }
    .landing-spacer {
        min-width: 0;
    }
    .landing-text {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    /* Styles for hero section */
    .landing-hero {
        display: inline-block;
    }
    .landing-hero-left {
        max-width: 100%;
    }
    .landing-hero-right {
        text-align: center;
    }
    /* Styles for button grid */
    .landing-enter-buttons-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        column-gap: 20px;
        row-gap: 20px;
    }
    /* Styles for the footer */
    .landing-info-text {
        margin: 0;
    }
    /* end styles for landing page */

    /* Style for the categories */

    .page-side-nav {
        display: none;
    }

    .page-main {
        margin-left: 0; 	/* width of page-side-nav + left of page-side-nav */
        margin-right: 0; 	/* width of page-toc + right of page-toc */
        padding: 1rem;
    }
    .page-toc {
        display: none;
    }
    /* styles for small pages */
    .page-toc-small-img {
        max-width: 1rem;
        max-height: 1rem;
    }
    .page-toc-small {
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px var(--theme-colors-accent);
        margin-bottom: 4px;
    }
    .page-toc-small-title {
        flex: 1;
    }
    .page-toc-small-expand-button {
        background: none;
        border: solid 1px var(--theme-colors-bg_color);
    }
    /* end styles for small pages */
    .main-menu-small-expand-button {
        background: none;
        border: var(--theme-colors-bg_app_bar);
        padding: 0;
    }
    .main-menu-small-img {
        max-width: 0.5rem;
        max-height: 0.5rem;
    }
}
